<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web12</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <servlet>
  <servlet-name>Ex04</servlet-name>
  <servlet-class>com.bit.web12.Ex04</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Ex04</servlet-name>
  <url-pattern>/ex04.net</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>Json04</servlet-name>
  <servlet-class>com.bit.web12.Json04</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Json04</servlet-name>
  <url-pattern>/dept.bit</url-pattern>
  </servlet-mapping>
  
</web-app>